# AMO-Signier-Credentials (addons.mozilla.org)
# Kopiere diese Datei zu `.env` und trage deine echten Werte ein.
# `.env` ist in .gitignore ausgeschlossen und wird NIE committet.
# Keys erzeugen/finden: https://addons.mozilla.org/developers/addon/api/key/

WEB_EXT_API_KEY=user:xxxxxxxx:xxx
WEB_EXT_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
